.home {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.typing-section {
  width: 70%;
}
.typing-section textarea {
  width: 100%;
  resize: vertical;
  font-size: 1.5rem;
}
.textToBeTyped {
  min-height: 10rem;
  max-height: 15rem;
  margin-bottom: 20px;
  border: 1px solid;
  text-align: left;
  padding: 10px;
  font-size: 1.5rem;
  overflow-y: auto;
  word-break: break-word;
}
.correct {
  color: green
}
.incorrect {
  color: tomato;
}
.highlight {
  background-color: rgb(255, 255, 174);
  font-weight: 400;
}
