.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 3rem; */
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--primary-color);
  background-color: transparent;
  color:var(--accent-color);
  text-transform: uppercase;
  padding-inline: 20px;
  /* box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2); */
}
.navbar > .navbar-content{
  display: flex;
  flex: 1;
  flex-direction: row;
  max-width: 70%;
  justify-content: space-between;
  align-items: center;
}
.navbar-content > div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-size: inherit;
}